<%= @restaurant.name %>
<%= @restaurant.cuisine %>
<%= @restaurant.description %>
	<%= image_tag @restaurant.image.url(:thumb) %>

	<div id="maps" style = "height:500px; width:700px"></div>

	<div class="lat" style = "display:none"><%=@restuarnt.lat%></div>
	<div class="long" style = "display:none"><%=@restuarnt.lon%></div></div>